footer {
    text-align: center;
    color: #585a5e;
}

footer p {
    font-size: 16px;
    font-family: "Lato-Regular";
    letter-spacing: 1px;
}

footer .fa {
    margin-right: 1em;
}

footer a {
    color: #585a5e;
    text-decoration: none;
}


a:hover {
    opacity: 0.5;
}

@media only screen and (min-width: 900px) {
    footer {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    footer p {
        font-size: 18px;
    }

    footer .fa {
        margin-right: 0;
        margin-left: 1em;
    }
}

